{% extends "GaudruereGiteBundle::layouts/gaudruerebaselayout.html.twig" %}

{% block content %} 
  {% block logocontent %}  <a class="logoadmin" href="{{ path('adminGaudruere') }}"></a>{% endblock %}
<div class="admin">     

  <h2>Modification des quatres photos de la page d'accueil</h2>


  <h3>Attention, les photographies sont affichées dans une dimension de 980 pixels de long sur 600 pixels de large.</h3> 
  <h3>Les photographies seront retaillées automatiquement avec une largeur de 980 pixels.</h3>
  <br />

<form action="{{ path('adminPhotosAccueil_update') }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_errors(edit_form) }}

    <div>
        {{ form_label(edit_form.photoAccueil1, "Photo1") }}
        <img  style="width:150px" src="{{ asset('uploads/accueil/photo1.jpg') }}" alt="Première photo" title="Première photo" />
        {{ form_widget(edit_form.photoAccueil1, { 'attr': {'size': '75'} }) }} 
        {{ form_errors(edit_form.photoAccueil1) }}
    </div>
        
    <div>
        {{ form_label(edit_form.photoAccueil2, "Photo 2") }}
        <img  style="width:150px" src="{{ asset('uploads/accueil/photo2.jpg') }}" alt="Deuxième photo" title="Deuxième photo" />
        {{ form_widget(edit_form.photoAccueil2, { 'attr': {'size': '75'} }) }} 
        {{ form_errors(edit_form.photoAccueil2) }}
    </div>
        
    <div>
        {{ form_label(edit_form.photoAccueil3, "Photo 3") }}
        <img  style="width:150px" src="{{ asset('uploads/accueil/photo3.jpg') }}" alt="Troisième photo" title="Troisième photo" />
        {{ form_widget(edit_form.photoAccueil3, { 'attr': {'size': '75'} }) }} 
        {{ form_errors(edit_form.photoAccueil3) }}
    </div>
        
    <div>
        {{ form_label(edit_form.photoAccueil4, "Photo 4") }}
        <img  style="width:150px" src="{{ asset('uploads/accueil/photo4.jpg') }}" alt="Quatrième photo" title="Quatrième photo" />
        {{ form_widget(edit_form.photoAccueil4, { 'attr': {'size': '75'} }) }} 
        {{ form_errors(edit_form.photoAccueil4) }}
    </div>

    <p>
    	<button type="submit">Valider</button>
    </p>
</form>    

  <a class="retour" href="{{ path('adminMenu') }}">Retour à la liste des menus</a>
</div>

              
{% endblock %}